<!DOCTYPE html>
<html ng-app="ConAudioApp" ng-controller="ConAudioMainCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gabriel Falcao">

    <title>ConAudio</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{ static_url('conaudio.css') }}" rel="stylesheet">
  </head>
{% block body %}
  <body>
<div class="loading" ng-if="loading">
  <div>
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>
  </div>
  <span>loading</span>
</div>
    <div class="container">
    <navbar></navbar>
    <div class="row">
        <div class="col-md-12" ui-view></div>
    </div>
    <script src="{{ static_url('conaudio.js') }}"></script>
  </body>
{% endblock %}
</html>
